# Ignore node_modules folder
node_modules/

# Ignore environment configuration files
.env

# Ignore log files
*.log

# Ignore compiled code
*.class

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE settings (optional)
.vscode/
.idea/
